body {
	width: 700px;
	margin: auto;
}/*
#board_wrapper {
	width: 300px;
	margin: auto;
	border: 2px solid black;
}*/
#board {
	font-family: monospace;
	font-size: 14px;
	position: relative;
	z-index: 100;
	width: 300px;
	margin: auto;
	border: 2px solid black;
	border-radius: 8px;
}
#board td {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 30px;
	height: 30px;
	color: transparent;
}
.block_i, .block_j, .block_l, .block_z, .block_o, .block_s, .block_t, .block_g, .block_x{
	border: 1px solid #FFF;
	border-radius: 5px;
}
.block_x { /* black */
	/* main color */
	background-color: #CCC;
}
.block_i { /* cyan */
	background-color: #81F7F3;
}
.block_j { /* blue */
	background-color: #58ACFA;
}
.block_l { /* orange */
	background-color: #FFBF00;
}
.block_s { /* green */
	background-color: #2EFE2E;
}
.block_z { /* red */
	background-color: #FA5858;
}
.block_o { /* yellow */
	background-color: #FFF300;
}
.block_t { /* purple */
	background-color: #D358F7;
}
.block_g { /* ghost */
	background-color: #FFF;
	border-color: #999;
}

#game_over {
	font-size: 40px;
	color: red;
	text-shadow: -2px 2px 1px #000;
	position: relative;
	z-index: 50;
	text-align: center;
	top: -325px;
	display: none;
}


#leftCol {
	width: 150px;
	float: left;
}

#centerCol {
	width: 305px;
	float: left;
}

#rightCol {
	width: 150px;
	float: left;
}

#bottomRow {
	width: 100%;
	clear: both;
	float: left;
}

#holdBoard table, #queueBoard table {
	border: 2px solid black;
	border-radius: 8px;
	float: left;
}

#holdBoard td, #queueBoard td {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 30px;
	height: 30px;
	color: transparent;
	border-radius: 5px;
}